

header.header::before {
  background-color: #194558;
}
.menu-open body {
  overflow: hidden;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}
.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4.375rem;
  background-color: #262c37;
  z-index: 2;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .9375rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  min-height: 4.375rem;
  max-width: 81.25rem;
  margin: 0 auto;
  padding-left: .9375rem;
  padding-right: .9375rem;
}
.header__img {
  height: 100px;
}

.header__logo {
  font-weight: 700;
  font-size: 1.5rem;
  color: #97af6e;
  position: relative;
  z-index: 5;
}
.menu__body {
  position: relative;
  z-index: 5;
  display: flex;
}
.menu__list {
  display: flex;
  align-items: center;
  column-gap: 1.875rem;
  row-gap: 5px;
  flex-wrap: wrap;
}
.menu__link {
  font-size: 1.525rem;
  color: #dbd6a7;
}
.menu__link:hover {
  text-decoration: underline;
}

.icon__menu {
  display: none;
}
/*  */



.menu__list > li {
  position: relative;
  margin: 0px 0px 0px 1.25rem;
}
.menu__sub-list {
 position: absolute;
 top: 100%;
 right: 0;
 background-color: white;
 padding: 10px;
 min-width: 11.25rem;
 gap: .9375rem;
 border-radius: .625rem;
}
.menu__link {
  font-weight: 300;
  color: #dbd6a7;
}
.menu__link:hover {
  text-decoration: underline;
}
.menu__sub-list li {
  margin: 0px 0px 10px 0px;
  display: flex;
  justify-content: center;
}
.menu__sub-list li:last-child {
  margin: 0;
}
.menu__sub-link {
  color: #194558;
}
.menu__sub-link:hover {
  text-decoration: underline;
}

body._pc .menu__list > li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
}
.menu__list {
  display: flex;
  align-items: center;
}
.menu__list > li {
  padding: 10px 0;
}
.menu__sub-list {
  transform: translate(0px, 10%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all .3s ease 0s;
}



/*  */

@media (max-width: 797.98px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    transition: left 0.3s ;
    background-color: #194558;
    padding: 6.25rem .9375rem 1.25rem .9375rem;
    overflow: auto;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #dbd6a7;
  }

  .menu-open .menu__body {
    left: 0;
  }
  .menu__list {
    flex-direction: column;
    gap: 2.1875rem;
  }
  .menu__link {
    font-size: 1.875rem;
  }
  .icon-menu {
    display: block;
    position: relative;
    z-index: 5;
    width: 1.875rem;
    height: 1.125rem;
  }
  .icon-menu__line,
  .icon-menu::before,
  .icon-menu::after {
    content: '';
    position: absolute;
    background-color: #fff;
    height: 0.125rem;
    width: 100%;
    left: 0;
    transition: all .3s ease;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu__line {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu::before  {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after  {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
  .menu-open .icon-menu__line {
    left: 50%;
    width: 0;
  }
}